img{
    width: 70%;
    height: 70%;
}
th{
    padding: 10px;
    text-align: center;
}
td{
padding: 10px;
text-align: center;
}
footer{
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: rgba(172, 255, 47, 0.603);
}

nav{
    background-color: greenyellow;
}
.menu{
    font-size: 26px;
    margin: 5%;
    color:green;
}
