@charset "UTF-8";
*{
    padding: 1px;
    margin: 1px;
}
body{
    background-color: salmon;
}
footer{text-align: center;
}
#rodape{font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;

}
#tabela{
    text-align: center;
    color: white;
    background-color: red;
}