@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
header{
    text-align: center;
    background-color: #72DE0D;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
nav{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #72DE0D;
    text-align: center;
}
nav a{
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    display: inline-block;
    text-align: center;
    background-color: #13FA45;
}
body{
    background-color: #DEA30D;
}
main{
    background-color: #13fa4580;
    margin: auto;
    min-width: 440px;
    max-width: 100px;
    padding: 10px;
}
article{
    margin: 10px;
    text-indent: 20px;
    text-align: justify;
    font-size: 1.1rem;
}
article img{
    float: left;
    margin-right: 10px;
}
.Tex_principal{
font-size: 1.3rem;
}
footer{
    text-align: center;
    background-color: #72DE0D;
    margin: 10px;
}